header {
  background-color: grey;
  color: white;
}
a {
  color:#20B2AA;
}
section {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
* {
  font-family: sans-serif;
}
