header {
  background-color:#20B2AA;
  color: white;
  padding-top: 80px;
  padding-bottom: 100px;
}
h1 {
  position: relative;
  left: 400px;
}
h2 {
  position: relative;
  left: 400px;
}
.introduced {
  background-color:#DCDCDC;
  padding-top: 40px;
  padding-bottom: 40px;
}
h4 {
  color:#20B2AA;
}
#topnav1 {
  background-color:#DCDCDC;
  color: black;
  position: relative;
  left: 400px;
}
#topnav2 {
  background-color:#DCDCDC;
  color: black;
  position: relative;
  left: 400px;
}
#topnav3 {
  background-color:#DCDCDC;
  color: black;
  position: relative;
  left: 400px;
}
#topnav4 {
  background-color:#DCDCDC;
  color: black;
  position: relative;
  left: 400px;
}
article {
  position: relative;
  left: 400px;
  height: 50em;
  width: 50em;
}
h3 {
  color:#696969;
}
p {
  color:#696969;
}
#kitties {
  color:#20B2AA
}
.specific {
  color:#20B2AA
}
.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.text {
  overflow: auto;
}
aside {
  margin-left: 50rem;
}
footer {
  clear:right;
  background-color:black;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.important {
  color: white;
  text-align: center;
  margin-top: 2rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bottom {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: white;
}
#bottomnav1 {
  color: white;
}
#bottomnav2 {
  color: white;
}
#bottomnav3 {
  color: white;
}
#bottomnav4 {
  color: white;
}
* {
  font-family: sans-serif;
}
.introduced a {
  padding: 1rem;
  margin: .5rem;
}
.sr-only {
  position: absolute;
  left: 1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
